@mixin maas-page-header {
  .page-header {
    position: sticky;
    top: 0;
    z-index: 5;

    &__title {
      @include vf-heading-3;
      display: inline-block;
      margin-bottom: .6rem; //$sp-unit + $nudge-compensation;
    }

    &__status {
      @include vf-heading-5;
      color: $color-mid-dark;
      display: inline;
      margin-left: 1rem;
      position: relative;
      width: auto;


      // XXX header icon spacing fix
      // .u-vertically-center can't be used here
      // Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1598
      [class^="p-icon"] {
        margin-bottom: 0.1rem;
      }
    }
    
    button {
      margin-bottom: .5rem !important; // !important because of the reset
    }

    &__controls {
      float: right;
    }
  }
}
