@mixin maas-tabs {
  .p-tabs {
    .page-header & {
      margin-bottom: 0;
    }

    &__list {
      @extend .row;

      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;

      .page-header &::after {
        bottom: unset;
        left: $grid-margin-width;
        right: $grid-margin-width;
        width: calc(100% - 2 * #{$grid-margin-width});
        top: 0;
      }
    }

    &__link {
      &.is-active {
        @extend .p-tabs__link[aria-selected="true"];
      }
    }
  }
}
