@import 'tables/bcache';
@import 'tables/controllers';
@import 'tables/controller-interfaces';
@import 'tables/controllers-commissioning';
@import 'tables/controller-vlans';
@import 'tables/create-raid';
@import 'tables/create-volume-group';
@import 'tables/devices';
@import 'tables/disk-partitions';
@import 'tables/images';
@import 'tables/machines';
@import 'tables/network-discovery';
@import 'tables/pod-networking-config';
@import 'tables/pod-storage-config';
@import 'tables/pods';

$border-thickness: $px;
$checkbox-space: 1rem + $sph-intra;
$icon-space: map-get($icon-sizes, default) + $sph-intra--condensed;
$fade-length: $icon-space + $sph-intra + .5rem;
$icon-margin-right: $sph-intra--condensed;
$icon-button-width: $icon-margin-right + 2 *
  ($border-thickness + $vanilla-2-icon-button-side-padding) +
  map-get($icon-sizes, default);

$chevron-cell-width: 50px;

@mixin maas-table-widths {
  @include maas-table--bcache;
  @include maas-table--controllers;
  @include maas-table--controller-interfaces;
  @include maas-table--controllers-commissioning;
  @include maas-table--controller-vlans;
  @include maas-table--create-raid;
  @include maas-table--create-volume-group;
  @include maas-table--devices;
  @include maas-table--disk-partitions;
  @include maas-table--images;
  @include maas-table--machines;
  @include maas-table--pods;
  @include maas-table--pod-networking-config;
  @include maas-table--pod-storage-config;
  @include maas-table--network-discovery;

  %p-double-row__icon-container {
    display: block;
    width: map-get($icon-sizes, default);
  }

  %ellipse-single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  %double-row-flex-behaviour {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
  }

  .p-table__row {
    &--muted {
      background: $color-light;
    }
  }

  .p-double-row {
    overflow: visible;
  }

  .p-double-row__wrapper {
    @extend %double-row-flex-behaviour;
    width: 100%;
  }

  .p-double-row__checkbox {
    @extend %p-double-row__icon-container;
    margin-right: $sph-intra;
  }

  .p-double-row__icon-container {
    @extend %p-double-row__icon-container;
    margin-right: $sph-intra--condensed;
  }

  %p-double-row__rows-container {
    @extend %double-row-flex-behaviour;
    position: relative;
  }
  .p-double-row__rows-container {
    @extend %p-double-row__rows-container;
    width: 100%;
  }

  .p-double-row__rows-container--icon {
    @extend %p-double-row__rows-container;
    width: calc(100% - #{$icon-space});
  }

  .p-double-row__rows-container--checkbox {
    @extend %p-double-row__rows-container;
    width: calc(100% - #{$checkbox-space});
  }

  .p-double-row__main-row {
    @extend %ellipse-single-line;
    @at-root .p-table--machines .p-table__row:hover .p-table-menu.has-actions & {
      max-width: calc(100% - #{$icon-space + $sph-intra});
      margin-right: .5rem;
    }
  }

  .p-double-row__muted-header {
    @extend %ellipse-single-line;
    width: 100%;
  }

  .p-double-row__muted-row {
    @extend %small-text;
    @extend %ellipse-single-line;
    color: $color-mid-dark;
    margin-bottom: map-get($line-heights, default-text) -
      map-get($line-heights, small) - map-get($nudges, nudge--small);
    width: 100%;
  }

  .p-double-row__muted-row-text {
    @extend %ellipse-single-line;

    $ip-count-width: 2rem;

    &--ip-count {
      @extend %ellipse-single-line;
        width: $ip-count-width;
    }

    &--ip {
      @extend %ellipse-single-line;
        width: calc(100% - #{$ip-count-width});
    }
  }

  .p-checkbox--action {
    &.actionable::before {
      background-color: $color-positive;
    }

    &.not-actionable::before {
      background-color: $color-caution;
    }

    &.actionable::after,
    &.not-actionable::after {
      color: $color-x-light;
    }
  }

  .p-muted-text {
    @extend %small-text;
    color: $color-mid-dark;
    margin: 0;
    padding: 0;

    .p-table__group-label & {
      font-weight: 300;
      padding-left: $sp-x-large;
    }
  }

  .p-link--muted {
    &:visited {
      color: $color-mid-dark;
    }

    &:hover {
      color: $color-link;
    }
  }

  .p-domain-name {
    display: inline-block;

    .p-domain-name__host {
      font-weight: 400;
    }

    .p-domain-name__tld {
      @extend %small-text;
      margin-bottom: map-get($line-heights, default-text) -
        map-get($line-heights, small) - map-get($nudges, nudge--small);
    }
  }

  .p-table-menu {
    @extend .p-contextual-menu;
    display: flex;
    width: 100%;

    .p-double-row__icon-container {
      cursor: pointer;
    }
  }

  .p-table-menu__title {
    @extend %table-menu-title;
  }

  .p-table-menu__footer {
    border-top: 1px solid $color-light-new;
    color: $color-mid-dark;
    padding: $spv-intra--condensed $sp-xx-large;
  }

  .p-table-menu__toggle {
    background-color: transparentize($color-x-light, 0.25);
    border: 0;
    cursor: pointer;
    display: none;
    margin-bottom: 0;
    margin-right: $sph-intra;
    padding: 0;
    opacity: 0.25;

    td:hover & {
      opacity: 1;
    }
  }

  .p-table-menu__dropdown {
    @extend .p-contextual-menu__dropdown;

    left: -#{$sph-intra};
    max-width: none;
    min-width: 100%;
    top: map-get($line-heights, default-text) + $spv-intra--condensed;
    width: -moz-max-content;
    width: max-content;
    z-index: 2;
  }

  .p-contextual-menu__group {
    border-color: $color-light-new;
  }

  %table-menu-title {
    @extend %bold;
    border-bottom: 1px solid $color-light-new;
    color: $color-mid-dark;
    display: flex;
    flex: 0 0 auto;
    font-size: #{pow($ms-ratio, -2)}rem;
    padding: $spv-intra--condensed $sph-intra;
    text-transform: uppercase;
    width: 100%;
  }

  %table-menu-link {
    @extend .p-contextual-menu__link;
    display: flex;
    padding: $spv-intra--condensed $sph-intra;
    position: relative;
    transition: 0s;
  }

  %p-table-menu__icon-placeholder {
    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      display: block;
      height: map-get($line-heights, default-text);
      margin-right: $icon-margin-right;
      position: relative;
      width: map-get($icon-sizes, default);
    }
  }

  %p-table-menu__icon-offset {
    margin-left: map-get($icon-sizes, default) + $sph-intra--condensed;
  }


  .p-table-menu__title,
  .p-table-menu__link {
    .p-table__col--power & {
      @extend %p-table-menu__icon-placeholder;
    }
  }

  .p-table-menu__dropdown {
    .p-table__col--status & {
      @extend %p-table-menu__icon-offset;
    }
  }

  .p-table-menu__link,
  .p-table-menu__check-power,
  .p-table-menu__power-on,
  .p-table-menu__power-off {
    @extend %table-menu-link;
  }

  .p-table-menu__power-on {
    &::before {
      @include maas-icon-power-on($color-positive);
    }
  }

  .p-table-menu__power-off {
    &::before {
      @include maas-icon-power-on($color-mid-light);
    }
  }
}
