@mixin maas-table--create-raid {
  .p-table--create-raid {
    &__name {
      @media (max-width: $breakpoint-medium) {
        width: 50%;
      }
      @media (min-width: $breakpoint-medium) {
        width: 30%;
      }
    }
    &__size {
      width: 10%;
    }
    &__type {
      width: 20%;
    }
    &__active {
      width: 10%;
    }
    &__spare {
      width: 10%;
    }
  }
}